<app-menu></app-menu>
<body>
        <form class="form_login">
            <label>{{choice}}</label>
            <label for="email">Email</label>
            <input type="email" [(ngModel)]="email" name="email" id="email" placeholder="votre email"/>
            <label for="password">Password</label>
            <input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,20}$" [(ngModel)]="password" name="password" id="password" placeholder="Password"/>
            <button (click)="Login()">
                Se Connecter
            </button>
        </form>        
</body>

